<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.dao.StudentClassMapper">
  <resultMap id="BaseResultMap" type="com.hy.pojo.StudentClass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="class_teacher" jdbcType="VARCHAR" property="classTeacher" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ba_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.pojo.StudentClass">
    insert into ba_class (id, class_name, class_teacher, 
      notes)
    values (#{id,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{classTeacher,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hy.pojo.StudentClass">
    update ba_class
    set class_name = #{className,jdbcType=VARCHAR},
      class_teacher = #{classTeacher,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, class_name, class_teacher, notes
    from ba_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, class_name, class_teacher, notes
    from ba_class
  </select>
</mapper>